site/**  
"site/"  
site/ubuntu/integration/index.html
site/search/search_index.json
site/404.html
site/css/fonts/fontawesome-webfont.eot
site/css/fonts/fontawesome-webfont.svg
site/css/fonts/fontawesome-webfont.ttf
site/css/fonts/fontawesome-webfont.woff
site/ubuntu/upgrade_instana/index.html
site/ubuntu/update_config/index.html
site/ubuntu/overview/index.html
site/ubuntu/install_process/index.html
site/ubuntu/faq/index.html
site/ubuntu/annex/index.html
site/sitemap.xml.gz
site/sitemap.xml
site/self_hosted_ocp/index.html
site/search/worker.js
site/search/main.js
site/search/lunr.js
site/search.html
site/js/theme_extra.js
site/js/theme.js
site/js/jquery-3.6.0.min.js
site/js/html5shiv.min.js
site/index.html
site/img/favicon.ico
site/css/theme_extra.css
site/css/theme.css
site/css/fonts/Roboto-Slab-Regular.woff2
site/css/fonts/Roboto-Slab-Regular.woff
site/css/fonts/Roboto-Slab-Bold.woff2
site/css/fonts/Roboto-Slab-Bold.woff
site/css/fonts/lato-normal.woff2
site/css/fonts/lato-normal.woff
site/css/fonts/lato-normal-italic.woff2
site/css/fonts/lato-normal-italic.woff
site/css/fonts/lato-bold.woff2
site/css/fonts/lato-bold.woff
site/css/fonts/lato-bold-italic.woff2
site/css/fonts/lato-bold-italic.woff
site/css/fonts/fontawesome-webfont.woff2
site/assets/images/favicon.png
site/assets/javascripts/bundle.ed9748b7.min.js
site/assets/javascripts/lunr/min/lunr.ar.min.js
*.js
# *.css
*.map
.DS_Store
site/cookbook
site/packages
*.mp4
